#Outreach {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow: hidden;
}
#outreachContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}
#outreachTile {
  padding: 5px;
}
.outreachIcon img {
  width: 80px;
}
#outreachIntro {
  margin-top: -40px;
  margin-bottom: 50px;
  padding: 5px;
}
.outreachTitle p {
  color: #1d4a84;
  font-weight: 800;
}
#outreachIntro {
  margin-top: -50px;
}

@media (max-width: 700px) {
  #outreachIntro {
    margin-bottom: 2px;
    margin-top: -15px;
  }
  #Outreach {
    padding-top: 100px;
  }
  .outreachTop {
    justify-content: space-evenly;
  }
}
@media (max-width: 1625px) {
  #outreachContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #outreachTile {
    margin-bottom: -20px;
  }
  #outreachIntro {
    margin-bottom: 20px;
  }
  .outreachTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .outreachIcon img {
    width: 30px;
  }
  .outreachIcon {
    width: 20%;
  }
  .outreachTitle {
    width: 80%;
    margin-left: -10%;
  }
  .outreachDescription {
    margin-top: -20px;
  }
}
